@model StudentSlotTableViewModel

@{
    ViewData["Title"] = "Slot List";
}

<h2>@ViewData["Title"]</h2>
<h2>Manage Your Booking</h2>
<br />
<br />
<br />


<form asp-action="Index">
    <p>
        Search Available Slots by Staff: <input type="text" name="StaffSearchString">
        <input type="submit" value="Go" />
    </p>
</form>

<br />
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slots.FirstOrDefault().RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots.FirstOrDefault().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots.FirstOrDefault().StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots.FirstOrDefault().Staff.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots.FirstOrDefault().StudentID)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Slots)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.StaffID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Name)
                </td>
                <td>
                    @if (item.StudentID != null)
                    {
                        @Html.DisplayFor(modelItem => item.StudentID);
                        <a asp-action="CancelBook" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Cancel Book</a>
                    }
                    else
                    {
                        <a asp-action="Book" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Book</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

